<!DOCTYPE html>
<html lang="en">

<%- include('header') -%>

<body>

    <%- include('navbar') -%>

    <div class="container main">

        <div class="section mb-5">
            <div class="pg-title">
                <p class="paginator semibold">INSIGHTS</p>
                <h4 class="mdi mdi-alien">
                    COVID-19 Virus Outbreak in India
                </h4>
            </div>

            <div class="container">
                <div class="row row-xs">
                    <div class="col-6 col-sm-6 col-lg-3 mt-2">
                        <div class="card insight smooth-transition">
                            <div class="card-body">
                                <h6 class="title uppercase bold fs-11 gx-color-2">Total Cases</h6>
                                <div class="data display-flex display-xl-flex display-lg-block">
                                    <h3 class="count mr-1"><%= corona_data.totalcases %></h3>
                                    <p class="info fs-11 gx-color-3 mb-0">
                                        <!-- <span class="tx-medium color-danger">
                                            16
                                        </span> in ICU -->
                                        Live update
                                    </p>
                                </div>
                                <div id="placeholder"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-lg-3 mt-2">
                        <div class="card insight smooth-transition">
                            <div class="card-body">
                                <h6 class="title uppercase bold fs-11 gx-color-2">In Hospital</h6>
                                <div class="data display-flex display-xl-flex display-lg-block">
                                    <h3 class="count hospital mr-1">
                                        <% var hos = Number(corona_data.totalcases) - (Number(corona_data.totalrecovered) + Number(corona_data.totaldeaths)) %>
                                        <%= hos %>
                                    </h3>
                                    <p class="info fs-11 gx-color-3 mb-0">
                                        <!-- <span class="tx-medium color-danger">
                                            16 <i class="icon ion-md-arrow-up"></i>
                                        </span> in ICU -->
                                        <%= Math.floor(hos / Number(corona_data.totalcases) * 100) %>% of total cases
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-lg-3 mt-2">
                        <div class="card insight smooth-transition">
                            <div class="card-body">
                                <h6 class="title uppercase bold fs-11 gx-color-2">Recovered</h6>
                                <div class="data display-flex display-xl-flex display-lg-block">
                                    <h3 class="count recover mr-1"><%= corona_data.totalrecovered %></h3>
                                    <p class="info fs-11 gx-color-3 mb-0">
                                        <!-- <span class="tx-medium color-danger">
                                            16 <i class="icon ion-md-arrow-up"></i>
                                        </span> in ICU -->
                                        <%= Math.floor(Number(corona_data.totalrecovered) / Number(corona_data.totalcases) * 100) %>%
                                        of total cases
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-lg-3 mt-2">
                        <div class="card insight smooth-transition">
                            <div class="card-body">
                                <h6 class="title uppercase bold fs-11 gx-color-2">Deaths</h6>
                                <div class="data display-flex display-xl-flex display-lg-block">
                                    <h3 class="count death mr-1"><%= corona_data.totaldeaths %></h3>
                                    <p class="info fs-11 gx-color-3 mb-0">
                                        <!-- <span class="tx-medium color-danger">
                                            16 <i class="icon ion-md-arrow-up"></i>
                                        </span> in ICU -->
                                        <%= Math.floor(Number(corona_data.totaldeaths) / Number(corona_data.totalcases) * 100) %>%
                                        of total cases
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section mb-5">
            <div class="pg-title" style="display: flex;">
                <h4 class="mdi mdi-newspaper">
                    Latest Updates
                </h4>
                <div class="flex-spacer"></div>
                <a class="more news mdi mdi-arrow-right smooth-transition" href="/covid19/news">News</a>
            </div>
            <div class="info slider">
                <div class="row row-xs news-grid">
                    <% for(var i=0; i < news_list.length; i++) { %>
                    <div class="col-sm-6 col-lg-4 mt-2 news-col">
                        <div class="tips-card smooth-transition">
                            <a href="<%= news_list[i].url %>" target="_blank">
                                <img class="bg" alt="<%= news_list[i].title %>" src="<%= news_list[i].image %>">
                                <div class="overlay-block h-100 w-100 smooth-transition">
                                    <h5><%= news_list[i].channel %></h5>
                                    <h3 class="bold"><%= news_list[i].title %></h3 class="bold">
                                    <p>know more <span></span></p>
                                </div>
                                <h5><%= news_list[i].channel %></h5>
                                <h3 class="bold"><%= news_list[i].title %></h3 class="bold">
                                <p>know more <span></span></p>
                            </a>
                        </div>
                    </div>
                    <% } %>
                </div>
                <div style="text-align: center;">
                    <div class="load-more smooth-transition">
                        <span class="load-text">Load More</span>
                        <div class="lds-roller" style="display: none;">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section mb-5">
            <div class="pg-title">
                <h4 class="mdi mdi-information">
                    Quick Tips
                </h4>
            </div>
            <div class="info slider">
                <div class="owl-carousel">
                    <div>
                        <div class="tips-card smooth-transition">
                            <a href="https://timesofindia.indiatimes.com/india/coronavirus-government-issues-home-quarantine-guidelines/articleshow/74582356.cms"
                                data-ga="covid_cards_secondary|How to Self Quarantine?|" target="_blank" frmappuse="1">
                                <img class="bg" alt="How to Self Quarantine?"
                                    src="https://static.toiimg.com/photo/74597970.cms">
                                <h5>Times of India</h5>
                                <h3 class="bold">How to Self Quarantine?</h3 class="bold">
                                <p>know more</p>
                            </a>
                        </div>
                    </div>
                    <div>
                        <div class="tips-card smooth-transition">
                            <a href="https://timesofindia.indiatimes.com/india/coronavirus-dos-and-donts/articleshow/74467949.cms"
                                data-ga="covid_cards_secondary|Do's and Dont's for Covid-19|" target="_blank"
                                frmappuse="1">
                                <img class="bg" alt="Do's and Dont's for Covid-19"
                                    src="https://static.toiimg.com/photo/74597972.cms">
                                <h5>Times of India</h5>
                                <h3 class="bold">Do's and Dont's for Covid-19</h3>
                                <p>know more</p>
                            </a>
                        </div>
                    </div>
                    <div>
                        <div class="tips-card smooth-transition">
                            <a href="https://timesofindia.indiatimes.com/india/covid-19-or-common-flu-how-do-i-find-out/articleshow/74503762.cms"
                                data-ga="covid_cards_secondary|Covid-19 or flu? How to find out?|" target="_blank"
                                frmappuse="1">
                                <img class="bg" alt="Covid-19 or flu? How to find out?"
                                    src="https://static.toiimg.com/photo/74597966.cms">
                                <h5>Times of India</h5>
                                <h3 class="bold">Covid-19 or flu? How to find out?</h3>
                                <p>know more</p>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <!-- Scripts -->
    <%- include('footer') -%>

</body>

</html>