<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-161610484-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-161610484-2');
    </script>

    <script charset="UTF-8" src="//web.webpushs.com/js/push/2f47b51e8848634e036968bbbd77235f_1.js" async></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Coronavisus India Updates Live | GEEXEC</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    <meta name="description" content="Number of COVID-19 cases in India rises to <%= corona_data.totalcases %> (including
    <%= corona_data.totalrecovered %> cured/discharged and <%= corona_data.totaldeaths %>
    deaths): Union Health Ministry">
    <link rel="canonical" href="https://coronain.live/<% if (page && page != 'dashboard') { %><%= page %><% } %>">
    <meta property="og:title" content="Coronavisus India Updates Live">
    <meta property="og:url" content="https://coronain.live">
    <meta property="og:type" content="website">
    <meta property="og:image" content="/images/og-image.png">
    <meta property="og:description" content="Number of COVID-19 cases in India rises to <%= corona_data.totalcases %> (including
        <%= corona_data.totalrecovered %> cured/discharged and <%= corona_data.totaldeaths %>
        deaths): Union Health Ministry">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="https://coronain.live">
    <meta name="twitter:title" content="Coronavisus India Updates Live | A Collection of Latest News and Useful Data.">
    <meta name="twitter:description" content="Number of COVID-19 cases in India rises to <%= corona_data.totalcases %> (including
    <%= corona_data.totalrecovered %> cured/discharged and <%= corona_data.totaldeaths %>
    deaths): Union Health Ministry">
    <meta name="twitter:image" content="/images/og-image.png">
    <meta name="author" content="geexec.com">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/5.0.45/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/css/owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owlcarousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/<% if (page ) { %><%= page %><% } %>.css">
    <link rel="stylesheet" href="/css/font.css">
    <% if (page == 'dashboard' || page == 'news') { %>
    <link rel="stylesheet" href="/css/live-news.css">
    <link rel="stylesheet" href="/css/news-card.css">
    <link rel="stylesheet" href="/css/news-card-small.css">
    <% } %>

    <% if (page == 'video-play') { %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/video.js/7.7.5/video-js.css" rel="stylesheet">
    <% } %>
</head>